@import "components/UIKit/mixins";

.container {
  $leftBarWidth: 252px;
  width: 840px;

  @include media-breakpoint-down(md) {
    width: auto;
  }

  .leftBar {
    position: fixed;
    width: $leftBarWidth;

    @include media-breakpoint-down(xs) {
      position: static;
      width: 100%;
    }
  }

  .tickets {
    margin-left: $leftBarWidth + $grid-gutter-width;
    @include media-breakpoint-down(xs) {
      margin-left: 0;
    }
  }
}

