.checkbox {
  $padding: 15px;
  display: block;
  user-select: none;

  .checkmark {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: $padding + 1px;
    height: 19px;
    width: 19px;
    background-image: url("assets/filter-checkbox-icon.png");
    background-repeat: no-repeat;
  }

  &.checked {
    .checkmark {
      background-image: url("assets/filter-checkbox-checked-icon.png");
    }
  }

  .label {
    cursor: pointer;
    display: block;
    position: relative;
    margin: 0;
    font-size: 13px;
    line-height: 23px;
    padding-left: $padding + 31;
    padding-right: $padding;
  }
}